

.has-scrollbar::-webkit-scrollbar {
  display: "none";
  width: 9px;
  height: 9px;
}

.has-scrollbar::-webkit-scrollbar-track {
  background: #505e75;
  width: 5px;
  /* border-radius: 5px; */
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: #828995;
  border-radius: 5px;
}
.has-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #4a5568; /* Lighter color for thumb on hover */
}

.hide-scrollbar::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  display: none;
}

.hide-scrollbar::-webkit-scrollbar-track {
  background: #4a5568;
  width: 5px;
  /* border-radius: 5px; */
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background: #2d3748;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  /* CSS styles for screens wider than or equal to 768px */
  .hide-scrollbar::-webkit-scrollbar{
    display: block;
  }
}
